{% extends 'base.html.twig' %}

{% block title %}Register - Find My Dream Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="container-items">
        <h2>Créer un compte sur Find My Dream Home</h2>

        <form method="POST" action="{{ path('app_register') }}">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>

            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" required>

            <label for="confirm_password">Confirmation du mot de passe</label>
            <input type="password" name="confirm_password" id="confirm_password" required>

            <button type="submit">S’inscrire</button>
        </form>

        <div class="link">
            <p>Déjà inscrit ?
                <a href="{{ path('app_login_controlle') }}">Connectez-vous</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
